
<div class="container card-home">
  <h1>Besoin d'un vaisseau pour conquérir l'univers ?</h1>
  <button class="btn btn-outline-success" type="button">Je suis flexible</button>
</div>

<div class="container">
    <h2>Les meilleurs vaisseaux</h2>
</div>
