.navbar-light {
  background-color: $yellow;

  .navbar-brand {
    color: $velvet;
  }

  .nav-item {
    margin-top: 10px;
  }

  @media (min-width: 992px) {
    .nav-item {
      margin-top: 0px;
      margin-left: 10px;
    }
  }

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-toggler {
    border: 1px solid $velvet;
  }

  .navbar-nav .nav-link {
    color: $velvet;
  }
}
