// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";

body {
  position: relative;
  min-height: 100vh;
}

main {
  padding: 0 0 20px 0;

  .container {
    margin: 30px auto 100px auto;
  }

  h1  {
    padding-top: 50px;
  }

  .border-start {
    border-left: 1px solid #dee2e6 !important;
  }

  .text-success {
    color: $success;
  }
}
